.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container button {
  color: var(--secondary);
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 0;
}

@media (max-width: 700px) {
  .header-container {
    margin-left: 10px;
  }

  .header-container button {
    padding: 4px 10px;
  }
}
