header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  color: var(--secondary);
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 0;
}
