.login-page {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  min-height: 100vh;
  background: #fafafa;
}

.login-form {
  display: flex;
  width: 60%;
  flex-direction: column;
  color: #4e4e4e;
  background: #ffffff;
  padding: 80px 50px 35px 50px;
  width: 350px;
}

.login-form label {
  text-align: left;
}

.login-form input {
  border: none;
  margin: 0 0 10px 0;
  padding: 10px;
  border-bottom: 2px solid #4e4e4e;
  background: transparent;
}

.login-btn {
  border: none;
  color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 35px;
  font-size: 16px;
  font-weight: 500;
  background: #93bcee;

  &.--disabled {
    pointer-events: none;
  }
}

.login-btn:hover {
  background: #73a8e9;
}

.login-card {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  max-width: 450px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login-image {
  width: 40%;
  background-image: url("../../assets/IMG_7568.jpg");
  background-size: cover;
}

@media (max-width: 475px) {
  .login-image {
    display: none;
  }

  .login-card {
    max-width: 350px;
    height: 70vh;
    box-shadow: none;
  }

  .login-page h1 {
    font-size: 45px;
  }

  .login-form {
    padding: 40px 10px;
    background: #fafafa;
  }

  .login-btn {
    margin-top: auto;
    font-size: 20px;
  }

  .login-form input {
    margin: 0 0 50px 0;
    padding: 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
  }

  .login-form label {
    font-size: 18px;
  }
}
