:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary);
  background-color: #ffffff;

  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 2.6rem;
}

.loading-spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #2a9d8f;
    background-color: #0c1618;
  }
  h1 {
    color: #faf4d3;
  }
  .loading-spinner {
    border: 2px solid #faf4d3;
    border-top-color: #004643;
  }
}
