:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondary);
  background-color: #fafafa;

  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 60px;
  font-size: 2.6rem;
}

.loading-spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

  &.--small {
    width: 16px;
    height: 16px;
  }

  &.--primary {
    border: 2px solid var(--primary);
    border-top-color: #8c8c8c;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container button {
  color: var(--secondary);
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  color: #4e4e4e;
  height: 25px;
  text-align: center;
  position: relative;
  margin: 10px 0;
  width: 100%;
  font-size: 14px;
}

footer p {
  margin: 0;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  h2 {
    margin-top: 30px;
    font-size: 2.2rem;
  }

  .upload-form {
    display: flex;
    margin: 30px auto;
  }
}
